/* :asset_packager_compatibility, 'config/asset_packages.yml' @ 1508449729 */


/* :files, 'public/stylesheets/shared', ... @ (none) */


/* :files, 'app/views', ... @ 1508449729 */
/* app/views/discover/modules/article_info.css @ 1508449729 */
/* epub and audiobook banners*/ .article_info {color: #57617A; text-transform: uppercase; font-size: 12px}
.article_info .logo {height: 16px; margin-top: 2px}
.article_info span {vertical-align: top}
.article_info .with_circle {padding-right: 20px; position: relative}
.article_info .with_circle:after {content: ''; margin: 0 8px; border-radius: 50%; width: 4px; height: 4px; background: #E9EDF8; position: absolute; top: 7px}
.article_info .article_length {font-size: 16px}


/* :class_inlines, 'app/views', ... @ 1508449729 */
/* app/views/shared/carousels/document_cells.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_shared_carousels_document_cells {list-style: none; padding-left: 0}
.autogen_class_views_shared_carousels_document_cells.document_cells {margin-bottom: 16px}


/* app/views/shared/cross_sell_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_shared_cross_sell_banner .cross_sell_banner {padding: 40px; text-align: center}
.autogen_class_views_shared_cross_sell_banner .cross_sell_banner .title {font-weight: normal; font-size: 24px; color: #1C263D; padding-bottom: 20px}


/* app/views/shared/interests_list.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_shared_interests_list .all_interests .interest_block {margin: 10px}
.autogen_class_views_shared_interests_list .all_interests .interest_block .parent_interest {font-size: 16px; text-transform: uppercase; font-weight: bold; color: #1E7B85; margin: 0}
.autogen_class_views_shared_interests_list .all_interests .interest_block .child_interest .interest_link {font-size: 16px; color: #57617A}
.autogen_class_views_shared_interests_list .all_interests .interest_block .parent_interest a, .autogen_class_views_shared_interests_list .all_interests .interest_block .child_interest a {display: block; padding: 4px 5px}
.autogen_class_views_shared_interests_list .all_interests .interest_block .parent_interest a:hover, .keyboard_focus .autogen_class_views_shared_interests_list .all_interests .interest_block .parent_interest a:focus, .autogen_class_views_shared_interests_list .all_interests .interest_block .child_interest a:hover, .keyboard_focus .autogen_class_views_shared_interests_list .all_interests .interest_block .child_interest a:focus {opacity: 0.9}


/* app/views/discover/modules/article_quick_read.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_article_quick_read .quick_read_header {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .publication_icon {margin-right: 10px; position: relative}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .publication_icon img {border: 1px solid #F8F9FD; display: block; width: 28px; height: 28px; -o-object-fit: cover; object-fit: cover}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .publication_name_and_info {color: #57617A; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .publication_name_and_info .publication_name {font-size: 14px}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .publication_name_and_info .info {display: -webkit-box;display: -ms-flexbox;display: flex; font-size: 12px}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .publication_name_and_info .info .separator {margin: 0 5px}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .bookmark {margin-right: 2px}
.autogen_class_views_discover_modules_article_quick_read .quick_read_header .bookmark .icon {margin-right: 0px}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container {height: 331px; overflow: hidden; position: relative}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container:active .overlay_wrapper .overlay {opacity: 0.5}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .overlay_wrapper {position: relative; border: 1px solid #F8F9FD}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .overlay_wrapper .overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #57617A; opacity: 0}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .overlay_wrapper > img {width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .has_wide_image {margin-bottom: 10px}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .has_wide_image .overlay_wrapper {width: auto; height: 187px}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .has_square_image {float: right; margin-bottom: 20px; margin-left: 20px}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .has_square_image .overlay_wrapper {width: 100px; height: 100px}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .title {font-size: 20px; font-weight: bold; color: #222; margin: 0 0 10px 0}
.autogen_class_views_discover_modules_article_quick_read .image_and_text_container .short_content {line-height: 1.7em; font-size: 16px; color: #1C263D}
.autogen_class_views_discover_modules_article_quick_read a {display: inline-block}
.keyboard_focus .autogen_class_views_discover_modules_article_quick_read a:focus .image_and_text_container .title, .keyboard_focus .autogen_class_views_discover_modules_article_quick_read a:focus .image_and_text_container .short_content, .autogen_class_views_discover_modules_article_quick_read a:hover .image_and_text_container .title, .autogen_class_views_discover_modules_article_quick_read a:hover .image_and_text_container .short_content {opacity: 0.8}
.keyboard_focus .autogen_class_views_discover_modules_article_quick_read a:focus .image_and_text_container .overlay_wrapper .overlay, .autogen_class_views_discover_modules_article_quick_read a:hover .image_and_text_container .overlay_wrapper .overlay {opacity: 0.2}


/* app/views/discover/modules/article_quick_reads.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_article_quick_reads .title_wrap {padding: 0 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center}
.autogen_class_views_discover_modules_article_quick_reads .title_wrap > :first-child {-webkit-box-flex: 1;-ms-flex: 1;flex: 1}
.autogen_class_views_discover_modules_article_quick_reads .title_wrap .category_view_all {font-weight: bold}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_title {font-size: 24px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0}
@media (max-width: 550px) {.responsive .autogen_class_views_discover_modules_article_quick_reads .quick_reads_title {font-size: 20px}
}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_title a {display: inline-block; margin: 4px 0}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_subtitle {font-size: 16px; font-weight: bold}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_container {padding: 24px 32px}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_container .article_tile {margin: 0px; width: 33%; max-width: 289px}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_container .article_tile:nth-child(2) {margin: 0px 40px}
.autogen_class_views_discover_modules_article_quick_reads .quick_reads_container .quick_reads_article_row {display: -webkit-box;display: -ms-flexbox;display: flex}
@media (max-width: 800px) {.responsive .autogen_class_views_discover_modules_article_quick_reads .quick_reads_container .quick_reads_article_row {display: block}
.responsive .autogen_class_views_discover_modules_article_quick_reads .quick_reads_container .quick_reads_article_row .article_tile {width: auto; margin: 0 0 20px 0; max-width: none}
.responsive .autogen_class_views_discover_modules_article_quick_reads .quick_reads_container .quick_reads_article_row .article_tile:last-child {margin-bottom: 0}
}
.autogen_class_views_discover_modules_article_quick_reads .more_quick_reads {margin-top: 20px; text-align: center}
.autogen_class_views_discover_modules_article_quick_reads .more_quick_reads .flat_btn_content {font-size: 20px; font-weight: bold}


/* app/views/discover/modules/article_row.css @ 1508449729 */
@charset "UTF-8"; /* epub and audiobook banners*/ .autogen_class_views_discover_modules_article_row {position: relative}
.autogen_class_views_discover_modules_article_row.narrow_row .article_image {width: 120px; max-height: 95px}
.autogen_class_views_discover_modules_article_row.narrow_row .headline {font-size: 18px}
.autogen_class_views_discover_modules_article_row.narrow_row .subheadline {font-size: 14px; color: #57617A; line-height: 1.3}
.autogen_class_views_discover_modules_article_row.narrow_row .publication_topic, .autogen_class_views_discover_modules_article_row.narrow_row .read_time {font-size: 12px}
.autogen_class_views_discover_modules_article_row.narrow_row .thumbnail_cap {margin-left: 10px}
.autogen_class_views_discover_modules_article_row.box_row .publication_row, .autogen_class_views_discover_modules_article_row.narrow_row .publication_row {font-size: 14px; margin-bottom: 12px}
.autogen_class_views_discover_modules_article_row.box_row .publication_row .publication_name, .autogen_class_views_discover_modules_article_row.narrow_row .publication_row .publication_name {display: block}
.autogen_class_views_discover_modules_article_row.box_row .publication_row .publication_name + *:before, .autogen_class_views_discover_modules_article_row.narrow_row .publication_row .publication_name + *:before {content: none}
.autogen_class_views_discover_modules_article_row.box_row .article_image_box {display: block; max-height: 169px; -o-object-fit: cover; object-fit: cover; width: 100%; margin-bottom: 10px}
.autogen_class_views_discover_modules_article_row.box_row .article {display: block}
.autogen_class_views_discover_modules_article_row.box_row .article .thumbnail_cap {display: none}
.autogen_class_views_discover_modules_article_row.box_row .article.has_square_image .article_image_box {float: right; width: 100px; height: 100px; margin: 5px 0 20px 20px}
.autogen_class_views_discover_modules_article_row.box_row .article.has_square_image .subheadline {max-height: none; overflow: visible; display: block}
.autogen_class_views_discover_modules_article_row .bookmark {position: absolute; top: -8px; right: -8px}
.autogen_class_views_discover_modules_article_row .bookmark button .icon {margin-right: 0; font-size: 18px}
.autogen_class_views_discover_modules_article_row > a {color: inherit; display: block}
.autogen_class_views_discover_modules_article_row > a:hover .article_text {opacity: 0.8}
.autogen_class_views_discover_modules_article_row .article {display: -webkit-box;display: -ms-flexbox;display: flex; cursor: pointer}
.autogen_class_views_discover_modules_article_row .article .article_text {max-height: 112px; overflow: hidden}
.autogen_class_views_discover_modules_article_row .article.has_img .article_text {-webkit-box-flex: 1;-ms-flex: 1;flex: 1}
.autogen_class_views_discover_modules_article_row .issue_link:hover .issue_details {opacity: 0.8}
.autogen_class_views_discover_modules_article_row .issue_row {margin-bottom: 15px; font-size: 14px; color: #57617A; font-size: 16px; margin-right: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; line-height: 1.4}
.autogen_class_views_discover_modules_article_row .issue_row .issue_cover {width: 36px; height: 48px; display: block; -o-object-fit: cover; object-fit: cover; margin-right: 10px}
.autogen_class_views_discover_modules_article_row .issue_row .issue_magazine {font-weight: bold}
.autogen_class_views_discover_modules_article_row .issue_row .issue_title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.autogen_class_views_discover_modules_article_row .publication_row {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 10px; font-size: 16px; color: #57617A; margin-right: 20px}
.autogen_class_views_discover_modules_article_row .publication_row .logo {width: 28px; height: 28px; margin-right: 10px; border: 1px solid #F8F9FD; display: block}
.autogen_class_views_discover_modules_article_row .publication_row .publication_row_inner .read_time:before, .autogen_class_views_discover_modules_article_row .publication_row .publication_row_inner .publication_topic:before {content: "•"; display: inline-block; color: #E9EDF8; margin: 0 5px}
.autogen_class_views_discover_modules_article_row .thumbnail_cap {margin-left: 40px; border: 1px solid #F8F9FD; overflow: hidden}
.autogen_class_views_discover_modules_article_row .article_image {display: block; -o-object-fit: cover; object-fit: cover; width: 130px; max-height: 106px; background: #1C263D}
.autogen_class_views_discover_modules_article_row .article_image_box {display: none}
.autogen_class_views_discover_modules_article_row .headline {font-weight: bold; font-size: 20px; margin-bottom: 6px; color: #1C263D}
.autogen_class_views_discover_modules_article_row .subheadline {font-size: 18px; line-height: 1.5em; color: #1C263D}
@media (max-width: 550px) {.autogen_class_views_discover_modules_article_row .thumbnail_cap {margin-left: 10px}
.autogen_class_views_discover_modules_article_row .article .article_text {max-height: 107px; -webkit-box-flex: 1; -ms-flex: auto; flex: auto}
.autogen_class_views_discover_modules_article_row .logo {width: auto; height: auto}
.autogen_class_views_discover_modules_article_row .publication_row_inner .responsive_wrapper {font-size: 12px; display: block}
.autogen_class_views_discover_modules_article_row .publication_row_inner .responsive_wrapper .read_time:before {content: none}
}


/* app/views/discover/modules/carousel.css @ 1508449729 */
.autogen_class_views_discover_modules_carousel .carousel_wrap {text-align: left}
.autogen_class_views_discover_modules_carousel .carousel_wrap .carousel_subtitle {padding-left: 32px}


/* app/views/discover/modules/articles_carousel.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_articles_carousel .carousel {height: 224px}
.autogen_class_views_discover_modules_articles_carousel.show_title .carousel {height: 224px}


/* app/views/discover/modules/articles_cells.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_articles_cells {list-style: none; padding-left: 0}
.autogen_class_views_discover_modules_articles_cells .object_cell {position: relative}
.autogen_class_views_discover_modules_articles_cells .object_cell:hover .card_library_button_container {opacity: 1}
.autogen_class_views_discover_modules_articles_cells .object_cell .card_library_button_container {position: absolute; top: 4px; right: 4px; opacity: 0; z-index: 1}
.autogen_class_views_discover_modules_articles_cells .object_cell .card_library_button_container.child_has_focus {opacity: 1}
.autogen_class_views_discover_modules_articles_cells .article_cell {border-radius: 4px; border: 1px solid #E9EDF8; margin: 0 20px 20px 0; width: 306px; height: 202px; display: inline-block; vertical-align: top; box-sizing: border-box; position: relative; background: white; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out}
@media (max-width: 667px) {.autogen_class_views_discover_modules_articles_cells .article_cell {width: 270px}
.autogen_class_views_discover_modules_articles_cells .article_cell .article_date {display: none}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .tile_image {width: 57px; height: 57px}
}
.autogen_class_views_discover_modules_articles_cells .article_cell .article_link {position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden}
.autogen_class_views_discover_modules_articles_cells .article_cell .article_link:active {opacity: 0.5}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .tile_image {display: none}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .tile_title, .autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .description {margin-right: 85px}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .tile_title {font-size: 18px; line-height: 1.3em; max-height: 2.6em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image:not(.single_line) .description {font-size: 16px; line-height: 1.5; max-height: 4.5; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .square_image {position: absolute; right: 14px; top: 48px}
.autogen_class_views_discover_modules_articles_cells .article_cell.has_square_image .square_image img {border: 1px solid #E9EDF8}
.autogen_class_views_discover_modules_articles_cells .article_cell.single_line .tile_title, .autogen_class_views_discover_modules_articles_cells .article_cell.single_line .description {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.autogen_class_views_discover_modules_articles_cells .article_cell:not(.single_line) .tile_title {font-size: 18px; line-height: 1.3em; max-height: 2.6em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #1C263D; margin-bottom: 4px}
.autogen_class_views_discover_modules_articles_cells .article_cell:not(.single_line) .description {font-size: 16px; line-height: 1.5; max-height: 3; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.autogen_class_views_discover_modules_articles_cells .article_cell.double_line .description {display: none}
.autogen_class_views_discover_modules_articles_cells .article_cell.no_image .tile_image {display: none}
.autogen_class_views_discover_modules_articles_cells .article_cell.no_image .description {font-size: 16px; line-height: 1.5; max-height: 4.5; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; max-height: 94px; /* firefox max height */ }
.autogen_class_views_discover_modules_articles_cells .article_cell .tile_title {margin-top: 6px; margin-bottom: 0; font-size: 18px; color: #1C263D; font-weight: bold}
.autogen_class_views_discover_modules_articles_cells .article_cell .description {color: #57617A}
.autogen_class_views_discover_modules_articles_cells .article_cell .tile_content {text-align: left; box-sizing: border-box; height: 100px; padding: 16px 14px; font-family: 'Source Sans Pro', sans-serif}
.autogen_class_views_discover_modules_articles_cells .article_cell .tile_image {overflow: hidden; border-top: 1px solid #CACED9; height: 99px; border-radius: 0px 0px 3px 3px}
.autogen_class_views_discover_modules_articles_cells .article_cell .tile_image img {position: relative}
.autogen_class_views_discover_modules_articles_cells .article_cell .opaque_layer {background: rgba(0, 0, 0, 0.45); position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s}
.autogen_class_views_discover_modules_articles_cells .article_cell:hover .opaque_layer {background: rgba(0, 0, 0, 0.45); opacity: 1}
.autogen_class_views_discover_modules_articles_cells .article_cell:active .opaque_layer {z-index: 10}


/* app/views/discover/modules/author_cells.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_author_cells {list-style: none; padding-left: 0}
.autogen_class_views_discover_modules_author_cells .author_cell {display: inline-block; text-align: left; border-radius: 4px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); border: 1px solid #E9EDF8; opacity: 1; transition: background-color 0.5s, opacity 0.2s; -moz-transition: background-color 0.5s, opacity 0.2s; -webkit-transition: background-color 0.5s, opacity 0.2s; height: 200px; box-sizing: border-box; display: block; width: 308px}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link {color: #1C263D}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .author_header_container, .autogen_class_views_discover_modules_author_cells .author_cell .author_link .author_body {padding: 20px}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .author_header_container {border-bottom: 1px solid #E9EDF8; position: relative}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .author_header_container .publisher_icon {position: absolute; top: 15px; right: 15px}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .author_header {font-size: 20px; line-height: 1.25em; max-height: 1.25em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; font-size: 20px; position: relative; padding-right: 30px}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .author_header .icon-ic_topauthor {position: absolute; right: 0}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .title_prefix {color: #57617A}
.autogen_class_views_discover_modules_author_cells .author_cell .author_link .title {font-size: 18px; line-height: 1.22222em; max-height: 2.44444em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.autogen_class_views_discover_modules_author_cells .author_cell:hover {background-color: #F8F9FD}
.autogen_class_views_discover_modules_author_cells .author_cell:active {opacity: 0.45}


/* app/views/discover/modules/authors_carousel.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_authors_carousel .carousel {height: 185px}
.autogen_class_views_discover_modules_authors_carousel .paddle {top: 67px}
.autogen_class_views_discover_modules_authors_carousel .author_cell {background-color: #fff}
.autogen_class_views_discover_modules_authors_carousel .carousel.carousel {height: 170px}


/* app/views/discover/modules/blurb_carousel.css @ 1508449729 */
@charset "UTF-8"; /* epub and audiobook banners*/ .autogen_class_views_discover_modules_blurb_carousel .carousel .carousel_scrolling .document_cell {margin-right: 25px; width: auto}
.autogen_class_views_discover_modules_blurb_carousel .carousel .carousel_scrolling .document_cell:last-child {margin-right: 0}
.autogen_class_views_discover_modules_blurb_carousel .carousel_scrolling {text-align: left}
.autogen_class_views_discover_modules_blurb_carousel .doc_link {display: inline-block; width: auto; margin-right: 20px}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell {display: inline-block; width: 297px; height: 220px; margin-top: 20px; margin-right: 40px; background: url('https://s1-f.scribdassets.com/images/browse/quotemark.jpg?1508449800') 100% 0 no-repeat; position: relative}
@media (min-width: 1512px) {.autogen_class_views_discover_modules_blurb_carousel .blurb_cell {width: 291px}
}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell:last-child {margin-right: 0}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell h3 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0; font-family: 'Source Sans Pro', sans-serif; font-size: 22px; font-style: italic; line-height: 26px; max-height: 52px; overflow: hidden; color: #1C263D}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell h3:before {content: "“"; color: #57617A}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell h3:after {content: "”"; color: #57617A}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell .editorial_description {margin: 0; font-size: 14px; margin-top: 14px; color: #57617A}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell .text_content {position: relative; z-index: 1}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell .editor_signature {position: absolute; right: 0; bottom: -20px; display: inline-block; text-align: center; color: #57617A}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell .editor_signature img {width: 100px}
.autogen_class_views_discover_modules_blurb_carousel .blurb_cell .editor_signature .editor_label {position: relative; top: -30px; font-size: 14px}


/* app/views/discover/modules/collections_carousel.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_collections_carousel .carousel:before {background: -webkit-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%);background: linear-gradient(to right, white 0%, white 53%, rgba(255, 255, 255, 0) 100%)}
.autogen_class_views_discover_modules_collections_carousel .carousel:after {background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%);background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 53%, white 100%)}
.autogen_class_views_discover_modules_collections_carousel .carousel_wrap {text-align: left}
.autogen_class_views_discover_modules_collections_carousel .carousel_wrap .carousel_subtitle {font-size: 18px; font-style: italic; color: #57617A; padding-left: 24px}
.autogen_class_views_discover_modules_collections_carousel .carousel_wrap .carousel_scrollbar {opacity: 1}
.autogen_class_views_discover_modules_collections_carousel .carousel_wrap .carousel .collection_cell {margin-right: 19px}


/* app/views/discover/modules/content_cohesive_carousel.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_content_cohesive_carousel .carousel_wrap .carousel {height: 19.0625em}
@media (max-width: 700px) {.autogen_class_views_discover_modules_content_cohesive_carousel .carousel_wrap .carousel {height: 238px}
}


/* app/views/discover/modules/content_types.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_content_types .module_title {font-size: 24px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; color: #57617A}
@media (max-width: 550px) {.responsive .autogen_class_views_discover_modules_content_types .module_title {font-size: 20px}
}
.autogen_class_views_discover_modules_content_types ul {padding-left: 0; list-style: none}
.autogen_class_views_discover_modules_content_types .browse_banner {margin: 0px 80px}
.autogen_class_views_discover_modules_content_types .browse_banner .row {margin: auto; width: 740px}
.autogen_class_views_discover_modules_content_types .browse_banner .row .content_selector {display: inline-block; width: 50%}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #1C263D; margin: 0 40px}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item .icon_wrapper {width: 100px; height: 100px; /*center the icon*/ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item .icon_wrapper .icon {font-size: 65px}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item .details {padding-left: 20px; width: 215px}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item .details .content_title {font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-size: 24px; color: #1C263D; margin: 0}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item .details .content_description {font-size: 16px; color: #57617A; margin: 0}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item:hover {color: #0D6069}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item:hover .details .content_title, .autogen_class_views_discover_modules_content_types .browse_banner .row .item:hover .details .content_description {color: #0D6069}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item:active {color: #0D6069}
.autogen_class_views_discover_modules_content_types .browse_banner .row .item:active .details .content_title, .autogen_class_views_discover_modules_content_types .browse_banner .row .item:active .details .content_description {color: #0D6069}


/* app/views/discover/modules/curated_lists_carousel.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_curated_lists_carousel {height: 403px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel {height: 299px; margin-right: 27px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel:before {background: -webkit-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%);background: linear-gradient(to right, white 0%, white 53%, rgba(255, 255, 255, 0) 100%)}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel:after {background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%);background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 53%, white 100%)}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap {text-align: left}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel_subtitle {font-size: 18px; font-style: italic; color: #57617A; padding-left: 24px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel_scrollbar {opacity: 1}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .paddles_container {top: 138.5px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell {margin-right: 23px; height: 297px; width: 309px; background-color: #FAFBFD; -webkit-transition: background-color 0.1s ease-in-out; transition: background-color 0.1s ease-in-out; border-radius: 4px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell:hover {background-color: #F8F9FD}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell:hover .document_image_container .shadow_overlay {opacity: 0.2}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell:last-child {margin-right: 0}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link {border: 1px solid #CACED9}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata {padding: 16px 16px 12px 16px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata .source {color: #57617A; font-size: 16px; margin-bottom: 6px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata .source .source_image {height: 32px; width: 32px; float: left; border-radius: 50%; margin-right: 8px; border: 1px solid #E9EDF8}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata .source .source_text {font-size: 16px; line-height: 1.75em; max-height: 1.75em; overflow: hidden; display: block}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata .title {color: #000514; font-size: 20px; line-height: 1.25em; max-height: 2.5em; overflow: hidden; display: block; padding: 4px 0}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata .subtitle {color: #1C263D; font-size: 14px; line-height: 1.5em; max-height: 3em; overflow: hidden; display: block}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata.count_metadata {padding: 0 16px; position: relative; top: -6px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata.count_metadata .count {font-size: 14px; text-transform: uppercase}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .metadata.main_metadata {min-height: 8.4em}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .document_image_container {position: relative}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .document_image_container .document_image {width: 309px; min-height: 103px; background-color: #F8F9FD; border-top: 1px solid #E9EDF8; border-bottom: 1px solid #E9EDF8; -webkit-transition: opacity 0.5s ease; transition: opacity 0.5s ease}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .document_image_container .document_image.loaded {opacity: 1}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .document_image_container .shadow_overlay {position: absolute; height: 103px; top: 0; right: 0; bottom: 0; left: 0; -webkit-transition: opacity 0.1s ease-in-out; transition: opacity 0.1s ease-in-out; opacity: 0; background: rgba(87, 97, 122, 0.75)}
@media (max-width: 1024px) {.autogen_class_views_discover_modules_curated_lists_carousel {height: 341px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel {height: 237px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel:before {background: -webkit-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%);background: linear-gradient(to right, white 0%, white 53%, rgba(255, 255, 255, 0) 100%)}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel:after {background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%);background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 53%, white 100%)}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .paddles_container {top: 102.5px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell {margin-right: 19px; height: 235px; width: 268px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .metadata {padding-bottom: 6px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .metadata .subtitle {display: none}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .metadata .source {font-size: 15px; font-style: italic; margin-bottom: 8px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .metadata .source .source_text {font-size: 16px; line-height: 1.7em; max-height: 1.7em; overflow: hidden; display: block}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .metadata.count_metadata {top: -6px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .metadata.main_metadata {min-height: 5.8em}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .document_image_container .document_image {width: 268px; min-height: 89.33333px}
.autogen_class_views_discover_modules_curated_lists_carousel .carousel_wrap .carousel .collection_cell .collection_link .document_image_container .shadow_overlay {height: 89.33333px}
}


/* app/views/discover/modules/daily_blog_article.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper {max-width: 960px; margin: 32px auto}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info {padding-right: 20px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header {padding-bottom: 16px}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header .title {padding-bottom: 4px; font-size: 24px; color: #000514}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header .logo_and_sponsor {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header .logo_and_sponsor .logo, .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header .logo_and_sponsor img {height: 15px; width: 15px}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header .logo_and_sponsor .logo {margin-right: 5px}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .header .logo_and_sponsor .sponsor {font-size: 18px; color: #57617A}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .daily_story .title {font-size: 20px; color: #000514; padding-bottom: 2px}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .info .daily_story .short_content {font-size: 16px; color: #1C263D}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .overlay_wrapper {position: relative; width: 252px; height: 168px; border: 1px solid #F8F9FD}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a .home_daily_top_editorials .overlay_wrapper .overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #57617A; opacity: 0}
.keyboard_focus .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:focus .info .title, .keyboard_focus .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:focus .info .sponsor, .keyboard_focus .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:focus .info .short_content, .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:hover .info .title, .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:hover .info .sponsor, .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:hover .info .short_content {opacity: 0.8}
.keyboard_focus .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:focus .overlay_wrapper .overlay, .autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:hover .overlay_wrapper .overlay {opacity: 0.2}
.autogen_class_views_discover_modules_daily_blog_article .divider_wrapper a:active .overlay_wrapper .overlay {opacity: 0.5}


/* app/views/discover/modules/featured_author.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_featured_author {color: #1C263D; color: white; margin: 40px auto; min-height: 310px; overflow: hidden; padding-bottom: 40px; position: relative; text-align: center; cursor: pointer; display: block}
.autogen_class_views_discover_modules_featured_author p {color: white}
.autogen_class_views_discover_modules_featured_author .background_layer {position: absolute; z-index: 1; top: 0; bottom: 0; left: 0; right: 0}
.autogen_class_views_discover_modules_featured_author .background_layer {z-index: 1}
.autogen_class_views_discover_modules_featured_author .background_layer:after {position: absolute; bottom: 17px; left: 0; right: 0; height: 1px; background: rgba(255, 255, 255, 0.5); content: ""}
.autogen_class_views_discover_modules_featured_author .content_layer {position: relative; z-index: 2}
.autogen_class_views_discover_modules_featured_author .decor_outer {text-align: center; position: relative; z-index: 1}
.autogen_class_views_discover_modules_featured_author .decor_header {color: white; letter-spacing: 0.1em; margin-top: 8px; display: inline-block; position: relative; line-height: 18px; text-transform: uppercase; font-size: 13px}
.autogen_class_views_discover_modules_featured_author .decor_header:before, .autogen_class_views_discover_modules_featured_author .decor_header:after {content: ""; height: 1px; background: rgba(255, 255, 255, 0.5); position: absolute; top: 9px}
.autogen_class_views_discover_modules_featured_author .decor_header:before {right: 105%; left: -1000px}
.autogen_class_views_discover_modules_featured_author .decor_header:after {left: 105%; right: -1000px}
.autogen_class_views_discover_modules_featured_author .module_summary {width: 666px; margin: 0 auto; margin-top: 40px}
.autogen_class_views_discover_modules_featured_author .module_summary.subtitle {font-size: 14px; margin: 0 auto}
.autogen_class_views_discover_modules_featured_author .author_image, .autogen_class_views_discover_modules_featured_author .author_summary, .autogen_class_views_discover_modules_featured_author .book_cover_container {display: inline-block; vertical-align: top}
.autogen_class_views_discover_modules_featured_author p {color: #1C263D}
.autogen_class_views_discover_modules_featured_author .author_image {width: 115px; height: 115px; border-radius: 115px; margin: 20px 60px 0 30px}
.autogen_class_views_discover_modules_featured_author .author_summary {text-align: center; max-width: 300px; margin-top: 35px}
.autogen_class_views_discover_modules_featured_author .author_summary h2 {font-size: 30px; margin: 0; font-family: 'Source Sans Pro', sans-serif}
.autogen_class_views_discover_modules_featured_author .author_summary p {margin: 0}
.autogen_class_views_discover_modules_featured_author .author_summary .subtitle {font-size: 14px; color: #57617A; margin-top: 4px}
.autogen_class_views_discover_modules_featured_author .author_summary .book_title {font-family: 'Source Sans Pro', sans-serif; font-style: italic; font-size: 18px; margin-top: 2px}
.autogen_class_views_discover_modules_featured_author .module_summary {margin-top: 13px; position: relative; z-index: 1}
.autogen_class_views_discover_modules_featured_author .button_row {margin-top: 24px}
.autogen_class_views_discover_modules_featured_author .decor_header {color: #1C263D}
.autogen_class_views_discover_modules_featured_author .decor_header:before, .autogen_class_views_discover_modules_featured_author .decor_header:after {background: #E9EDF8}
.autogen_class_views_discover_modules_featured_author .background_layer:after {background: #E9EDF8; z-index: 1}
.autogen_class_views_discover_modules_featured_author .book_cover_container {margin-top: 18px; margin-left: 80px; margin-right: 36px; position: relative}
.autogen_class_views_discover_modules_featured_author .book_cover_container .document_cell {width: 90px}
.autogen_class_views_discover_modules_featured_author .book_cover_container .document_cell .thumb {width: 90px; height: 119px; margin-bottom: 0}


/* app/views/discover/modules/featured_collection.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_featured_collection {background: #CFCFCF; margin-top: 50px; padding: 35px 0 35px 0; background-repeat: no-repeat; background-position: left}
.autogen_class_views_discover_modules_featured_collection.dark, .autogen_class_views_discover_modules_featured_collection.dark.discover_row {color: white}
.autogen_class_views_discover_modules_featured_collection.dark .paddle.page_left, .autogen_class_views_discover_modules_featured_collection.dark.discover_row .paddle.page_left {background-image: url('https://s2-f.scribdassets.com/images/home/logged_in/ic_home_control_left_arrow_light.png?1508449800')}
.autogen_class_views_discover_modules_featured_collection.dark .paddle.page_right, .autogen_class_views_discover_modules_featured_collection.dark.discover_row .paddle.page_right {background-image: url('https://s2-f.scribdassets.com/images/home/logged_in/ic_home_control_right_arrow_light.png?1508449800')}
.autogen_class_views_discover_modules_featured_collection.dark .module_title, .autogen_class_views_discover_modules_featured_collection.dark.discover_row .module_title {color: white}
.autogen_class_views_discover_modules_featured_collection .document_cell {margin-right: 26px}
.autogen_class_views_discover_modules_featured_collection .document_cell:last-child {margin-right: 0}
.autogen_class_views_discover_modules_featured_collection .carousel_title {display: none}
.autogen_class_views_discover_modules_featured_collection .carousel_subtitle {display: none}
.autogen_class_views_discover_modules_featured_collection .module_content {margin-left: 514px}
.autogen_class_views_discover_modules_featured_collection.discover_row .module_content .module_title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 32px; margin-bottom: 9px; margin-right: 50px; margin-top: 0; padding-left: 30px; text-transform: none; text-align: left}
.autogen_class_views_discover_modules_featured_collection .module_description {font-size: 18px; margin-bottom: 10px; margin-right: 50px; padding-left: 30px}
.autogen_class_views_discover_modules_featured_collection .carousel:before {background: -webkit-linear-gradient(left, #cfcfcf 0%, #cfcfcf 53%, rgba(207, 207, 207, 0) 100%);background: linear-gradient(to right, #cfcfcf 0%, #cfcfcf 53%, rgba(207, 207, 207, 0) 100%)}
.autogen_class_views_discover_modules_featured_collection .carousel:after {background: -webkit-linear-gradient(left, rgba(207, 207, 207, 0) 0%, #cfcfcf 53%, #cfcfcf 100%);background: linear-gradient(to right, rgba(207, 207, 207, 0) 0%, #cfcfcf 53%, #cfcfcf 100%)}
.autogen_class_views_discover_modules_featured_collection .star_ratings {text-align: center; font-size: 15px}
.autogen_class_views_discover_modules_featured_collection .star_ratings .rating_star {width: 18px; color: #57617A}
.autogen_class_views_discover_modules_featured_collection .star_ratings .rating_star.light_lit {color: #57617A}
.autogen_class_views_discover_modules_featured_collection .module_content .module_row {margin-bottom: 0; width: auto; padding-right: 25px}
.autogen_class_views_discover_modules_featured_collection .module_content .module_row .document_cell {margin-right: 26px}
@media (min-width: 1512px) {.autogen_class_views_discover_modules_featured_collection .module_content .module_row .document_cell {margin-right: 52px}
}


/* app/views/discover/modules/featured_document.css @ 1508449729 */
@charset "UTF-8"; /* epub and audiobook banners*/ .autogen_class_views_discover_modules_featured_document {color: white; margin: 40px auto; min-height: 310px; overflow: hidden; padding-bottom: 40px; position: relative; text-align: center; cursor: pointer; display: block}
.autogen_class_views_discover_modules_featured_document p {color: white}
.autogen_class_views_discover_modules_featured_document .image_layer, .autogen_class_views_discover_modules_featured_document .background_layer {position: absolute; z-index: 1; top: 0; bottom: 0; left: 0; right: 0}
.autogen_class_views_discover_modules_featured_document .background_layer {z-index: 1}
.autogen_class_views_discover_modules_featured_document .background_layer:after {position: absolute; bottom: 17px; left: 0; right: 0; height: 1px; background: rgba(255, 255, 255, 0.5); content: ""}
.autogen_class_views_discover_modules_featured_document .content_layer {position: relative; z-index: 2}
.autogen_class_views_discover_modules_featured_document .decor_outer {text-align: center; position: relative; z-index: 1}
.autogen_class_views_discover_modules_featured_document .decor_header {color: white; letter-spacing: 0.1em; margin-top: 8px; display: inline-block; position: relative; line-height: 18px; text-transform: uppercase; font-size: 13px}
.autogen_class_views_discover_modules_featured_document .decor_header:before, .autogen_class_views_discover_modules_featured_document .decor_header:after {content: ""; height: 1px; background: rgba(255, 255, 255, 0.5); position: absolute; top: 9px}
.autogen_class_views_discover_modules_featured_document .decor_header:before {right: 105%; left: -1000px}
.autogen_class_views_discover_modules_featured_document .decor_header:after {left: 105%; right: -1000px}
.autogen_class_views_discover_modules_featured_document .module_summary {width: 666px; margin: 0 auto; margin-top: 40px}
.autogen_class_views_discover_modules_featured_document .module_summary.subtitle {font-size: 14px; margin: 0 auto}
.autogen_class_views_discover_modules_featured_document .content_layer {color: #1C263D; text-align: left}
.autogen_class_views_discover_modules_featured_document .margined {margin-right: 300px; margin-left: 50px}
.autogen_class_views_discover_modules_featured_document h2 {font-family: 'Source Sans Pro', sans-serif; font-style: italic; margin: 30px 0 20px 0; font-size: 36px}
.autogen_class_views_discover_modules_featured_document h2:before {content: "“"; color: #57617A}
.autogen_class_views_discover_modules_featured_document h2:after {content: "”"; color: #57617A}
.autogen_class_views_discover_modules_featured_document .editorial_description {color: #57617A; line-height: 1.8; position: relative; zoom: 1; margin-left: 1px; padding-left: 15px; border-left: 4px solid #E9EDF8}
.autogen_class_views_discover_modules_featured_document .editorial_description:after {content: ""; display: table; clear: both}
.autogen_class_views_discover_modules_featured_document .button_row {margin: 30px 0 0 0}
.autogen_class_views_discover_modules_featured_document .decor_header {color: #1C263D}
.autogen_class_views_discover_modules_featured_document .decor_header:before, .autogen_class_views_discover_modules_featured_document .decor_header:after {background: #E9EDF8}
.autogen_class_views_discover_modules_featured_document .background_layer:after {background: #E9EDF8; z-index: 1}
.autogen_class_views_discover_modules_featured_document .background_layer .book_cover_container {right: 50px; top: 45px; position: absolute}
.autogen_class_views_discover_modules_featured_document .background_layer .document_cell {width: 192px}
.autogen_class_views_discover_modules_featured_document .background_layer .document_cell .thumb {width: 192px; height: 255px}
.autogen_class_views_discover_modules_featured_document .editor_signature {position: absolute; left: 0; right: 0; bottom: 25px; text-align: center; z-index: 1; color: #57617A}
.autogen_class_views_discover_modules_featured_document .editor_signature img {width: 130px}
.autogen_class_views_discover_modules_featured_document .editor_signature .editor_label {position: relative; top: -40px; font-size: 14px}


/* app/views/discover/modules/hero_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_hero_banner .hero_banner {min-height: 164px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center}
.autogen_class_views_discover_modules_hero_banner .single_banner .hero_banner .header_content {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center}
.autogen_class_views_discover_modules_hero_banner .single_banner .hero_banner .header_content .icon {font-size: 65px; margin-right: 20px; color: #1E7B85}
.autogen_class_views_discover_modules_hero_banner .single_banner .hero_banner .header_content .title {padding-top: 4px; margin: 0; font-size: 30px; color: #000514}
.autogen_class_views_discover_modules_hero_banner .single_banner .hero_banner .header_content .sub_title {margin-top: 8px; line-height: 1.4; font-style: italic; font-size: 18px; color: #57617A; text-align: center}
.autogen_class_views_discover_modules_hero_banner .single_banner .hero_banner.content_type_banner .header_content {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row; margin-top: 50px}
.autogen_class_views_discover_modules_hero_banner .single_banner .hero_banner.content_type_banner .header_content .icon {font-size: 70px}
.autogen_class_views_discover_modules_hero_banner .breadcrumb, .autogen_class_views_discover_modules_hero_banner .description, .autogen_class_views_discover_modules_hero_banner .single_banner {max-width: 960px}
.autogen_class_views_discover_modules_hero_banner .breadcrumb, .autogen_class_views_discover_modules_hero_banner .single_banner {margin: 0 auto}
.autogen_class_views_discover_modules_hero_banner .breadcrumb {padding: 14px 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; font-size: 14px}
@media (max-width: 960px) {.autogen_class_views_discover_modules_hero_banner .breadcrumb {padding-right: 16px; padding-left: 16px}
}
.autogen_class_views_discover_modules_hero_banner .breadcrumb .breadcrumb_caret {margin: 0px 5px}
.autogen_class_views_discover_modules_hero_banner .breadcrumb .breadcrumb_caret {color: #57617A; font-size: 8px}


/* app/views/discover/modules/hero_content_type_banner.css @ 1508449729 */
.autogen_class_views_discover_modules_hero_content_type_banner .hero_banner {min-height: 200px}
.autogen_class_views_discover_modules_hero_content_type_banner .hero_banner .header_content .header_title .sub_title {text-align: left}


/* app/views/discover/modules/hero_interest_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_hero_interest_banner .multi_banner {position: relative; z-index: 2}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner {background-position: center; background-color: #0D6069; background-size: cover; background-repeat: no-repeat; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; height: 260px}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content {width: 960px; margin: 0 auto; padding: 32px 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; alignt-items: left}
@media (max-width: 550px) {.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content {text-align: center}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .description {font-size: 16px; line-height: 1.25em; max-height: 1.25em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical}
}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .title .content, .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .description .content, .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_btn, .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_no_options {padding: 0 12px; background: #1C263D; color: white}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .title {margin-bottom: 6px}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .title .content {font-size: 32px; font-weight: bold}
@media (max-width: 550px) {.responsive .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .title .content {font-size: 24px}
}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .description {margin-bottom: 16px}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .description .content {font-size: 18px; font-style: italic}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter {position: relative}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_no_options, .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_btn {font-family: 'Source Sans Pro', sans-serif; border: none; padding: 4px 12px}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_btn {cursor: pointer}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_btn .filter_title {font-size: 16px; color: white; font-size: 14px; text-transform: uppercase}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_btn .icon-ic_down_arrow {font-size: 10px; margin-left: 10px}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_list {position: absolute; z-index: 2; top: 0; width: 200px; display: none; z-index: 1; border-radius: 3px; padding: 10px 0px; list-style-type: none; background: #001A2A; box-shadow: 0px 0px 10px #1C263D}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_btn, .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_no_options, .autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_item {text-align: center; color: white}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_current_no_options {border: none}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_item {min-width: 200px; height: 44px; line-height: 44px; -webkit-transition: background 0.2s, color 0.2s; transition: background 0.2s, color 0.2s; background: #001A2A}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_item a {color: white; font-size: 14px; text-transform: uppercase; display: block; width: 100%; height: 100%}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_item:hover {background: #003451}
.autogen_class_views_discover_modules_hero_interest_banner .multi_banner .hero_banner .header_content .filter .filter_item.selected a {font-weight: bold}
.autogen_class_views_discover_modules_hero_interest_banner .list_subtitle {text-align: center; font-family: 'Source Sans Pro', sans-serif; font-style: italic; font-size: 18px; color: #57617A; padding-bottom: 30px; border-bottom: 1px solid #E9EDF8}


/* app/views/discover/modules/hero_publication_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_hero_publication_banner .hero_banner {border-bottom: 1px solid #E9EDF8}
.autogen_class_views_discover_modules_hero_publication_banner .hero_banner .header_content {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center}
.autogen_class_views_discover_modules_hero_publication_banner .hero_banner .header_content .icon {font-size: 45px; margin-right: 20px; color: #1E7B85}
.autogen_class_views_discover_modules_hero_publication_banner .hero_banner .header_content .title {padding-top: 4px; font-family: 'Source Sans Pro', sans-serif; margin: 0; font-size: 30px; color: #1C263D}
.autogen_class_views_discover_modules_hero_publication_banner .hero_banner .header_content .sub_title {padding-top: 4px; font-family: 'Source Sans Pro', sans-serif; font-style: italic; font-size: 16px; color: #57617A; text-align: center}


/* app/views/discover/modules/interest_articles.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_interest_articles h3 {border-bottom: 1px solid #E9EDF8; padding-bottom: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 20px; margin: 0}
.autogen_class_views_discover_modules_interest_articles h3 > *:first-child {-webkit-box-flex: 1;-ms-flex: 1;flex: 1}
.autogen_class_views_discover_modules_interest_articles h3 .view_all_link {font-size: 16px; font-weight: bold}


/* app/views/discover/modules/interest_cells.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_interest_cells {list-style: none; padding-left: 0}
.autogen_class_views_discover_modules_interest_cells .object_cell {display: inline-block; box-sizing: border-box; height: 150px; padding: 10px; position: relative; text-align: center; width: 150px}
@media (min-width: 1512px) {.autogen_class_views_discover_modules_interest_cells .object_cell {width: 149px}
}
.autogen_class_views_discover_modules_interest_cells .object_cell.half {height: 70px}
.autogen_class_views_discover_modules_interest_cells .object_cell.half.cell_modulus_0 {margin-left: -160px; margin-top: 80px}
.autogen_class_views_discover_modules_interest_cells .object_cell.half .interest_title {font-size: 20px; line-height: 1em; max-height: 2em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.autogen_class_views_discover_modules_interest_cells .object_cell.half:before {background: -webkit-linear-gradient(bottom, #000514 0%, rgba(0, 5, 20, 0.5) 80px, rgba(0, 5, 20, 0) 100%);background: linear-gradient(to top, #000514 0%, rgba(0, 5, 20, 0.5) 80px, rgba(0, 5, 20, 0) 100%)}
.autogen_class_views_discover_modules_interest_cells .object_cell .interest_link {border-radius: 4px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); border: 1px solid #E9EDF8; background-color: #57617A; height: 100%; left: 0; position: absolute; top: 0; width: 100%}
.autogen_class_views_discover_modules_interest_cells .object_cell .interest_link .interest_title {font-size: 20px; line-height: 0.9em; max-height: 2.7em; overflow: hidden; display: block; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; bottom: 10px; color: #fff; font-size: 16px; font-weight: bold; left: 0; padding: 0 20px 0px 20px; position: absolute; text-shadow: 0 0 10px #000514; width: 110px; z-index: 10; max-height: 55px}
.autogen_class_views_discover_modules_interest_cells .object_cell .interest_link:before {opacity: 0.8; transition: opacity 0.3s; -moz-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; background: -webkit-linear-gradient(bottom, black 0%, transparent 130px, transparent 100%); background: linear-gradient(to top, black 0%, transparent 130px, transparent 100%); border-radius: 4px; content: ""; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%}
.autogen_class_views_discover_modules_interest_cells .object_cell .interest_link .opaque_layer {background: rgba(0, 0, 0, 0.45); position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s}
.keyboard_focus .autogen_class_views_discover_modules_interest_cells .object_cell .interest_link:focus .opaque_layer, .autogen_class_views_discover_modules_interest_cells .object_cell .interest_link:hover .opaque_layer {background: rgba(0, 0, 0, 0.45); opacity: 1}
.autogen_class_views_discover_modules_interest_cells .object_cell .interest_link:active .opaque_layer {z-index: 10}


/* app/views/discover/modules/interest_rows.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_interest_rows .interest_rows_wrapper {padding: 0px 32px; margin: 40px auto; width: 960px}
.autogen_class_views_discover_modules_interest_rows .interest_rows_wrapper .title {color: #000514; font-size: 24px}
.autogen_class_views_discover_modules_interest_rows .interest_rows_wrapper ul {display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap}
.autogen_class_views_discover_modules_interest_rows .interest_rows_wrapper ul .interest_cell {display: block; margin-right: 10px !important; margin-bottom: 10px; text-align: left !important}


/* app/views/discover/modules/interest_tile.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_interest_tile {line-height: initial}
.autogen_class_views_discover_modules_interest_tile .container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column}
.autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile {border: 1px solid #E9EDF8; border-radius: 4px; margin: 4px 16px 13px auto; overflow: hidden; max-width: 11.25em}
.autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile .interest_image_wrapper {position: relative}
.autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile .interest_image_wrapper .interest_image {width: 11.25em; height: 5.3125em}
.autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile .interest_image_wrapper .overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #57617A; opacity: 0}
.autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile .title_wrapper {padding: 0 8px 4px}
.autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile .title_wrapper .interest_title {font-size: 14px; color: #001A2A; width: 10.25em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.keyboard_focus .autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile:focus .interest_image_wrapper .overlay, .autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile:hover .interest_image_wrapper .overlay {opacity: 0.4}
.keyboard_focus .autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile:focus .title_wrapper, .autogen_class_views_discover_modules_interest_tile .interest_tile.interest_link.interest_tile:hover .title_wrapper {background: #F8F9FD}


/* app/views/discover/modules/interest_tiles.css @ 1508449729 */



/* app/views/discover/modules/interest_tiles_carousel.css @ 1508449729 */
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row.module_row {margin-bottom: 16px}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row .carousel {height: auto}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row .carousel .carousel_scrolling {min-height: auto; margin-bottom: -25px}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row .carousel .carousel_scrolling li {display: inline-block}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row .paddles_container {top: 5px}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row.has_no_scrolling .carousel_wrap {padding-bottom: 0px}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row.single .paddle {top: 42px}
.autogen_class_views_discover_modules_interest_tiles_carousel.discover_row.double .paddle {top: 110px}
.autogen_class_views_discover_modules_interest_tiles_carousel .all_interests_btn {position: absolute; right: 30px; top: 10px; font-weight: bold}


/* app/views/discover/modules/interests_carousel.css @ 1508449729 */
.autogen_class_views_discover_modules_interests_carousel .carousel {height: 230px}


/* app/views/discover/modules/interests_lightbox.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_interests_lightbox {width: 400px}
.autogen_class_views_discover_modules_interests_lightbox .wrapper > .content {padding: 0}
.autogen_class_views_discover_modules_interests_lightbox .wrapper > .content .title {margin: 20px 28px}
.autogen_class_views_discover_modules_interests_lightbox .wrapper > .content .all_interests {height: 515px; overflow-y: scroll; border-top: 1px solid #E9EDF8; padding: 0 10px}
.autogen_class_views_discover_modules_interests_lightbox .wrapper > .content .all_interests ul {margin: 0; padding: 0; list-style: none}


/* app/views/discover/modules/issue_preview.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_issue_preview .container_link:hover div, .autogen_class_views_discover_modules_issue_preview .container_link:hover button {color: #509ba8}
.autogen_class_views_discover_modules_issue_preview .container_link:hover .overlay {opacity: 0.5 !important}
.autogen_class_views_discover_modules_issue_preview .container_link:active div, .autogen_class_views_discover_modules_issue_preview .container_link:active button {color: #0D6069}
.autogen_class_views_discover_modules_issue_preview .hero_section {padding: 26px; width: 200px}
.autogen_class_views_discover_modules_issue_preview .hero_section .hero_image > img {width: 200px; height: 265px; display: block}
.autogen_class_views_discover_modules_issue_preview .hero_section .title {font-size: 20px; color: #1C263D; font-weight: bold; margin-bottom: 15px}
.autogen_class_views_discover_modules_issue_preview .hero_section .subtitle {text-transform: uppercase; font-size: 16px; color: #57617A; margin-top: 12px; margin-bottom: 2px}
.autogen_class_views_discover_modules_issue_preview .hero_section.card .title {max-height: 50px; overflow: hidden}
.autogen_class_views_discover_modules_issue_preview .hero_section.card button {text-align: left}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel {display: -webkit-box;display: -ms-flexbox;display: flex; padding: 0 3px; box-sizing: border-box; margin-top: 8px}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel .nav_button {width: 50%}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel .icon {display: inline-block; vertical-align: 1px}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel .icon.icon-ic_left_caret_alt {padding-right: 5px}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel .icon.icon-ic_right_caret_alt {padding-left: 3px}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel .nav_button.prev {text-align: left}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_panel .nav_button.next {text-align: right}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .title {font-size: 22px}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_button {font-size: 16px}
.autogen_class_views_discover_modules_issue_preview .hero_section.page .nav_button .icon {font-size: 9px}
.autogen_class_views_discover_modules_issue_preview .save_button {text-align: left; white-space: nowrap}


/* app/views/discover/modules/promo_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_promo_banner {color: #000514; background-color: #F8F9FD; background: -webkit-linear-gradient(bottom, white 50px, #F8F9FD 50px); background: linear-gradient(to top, white 50px, #F8F9FD 50px); border: 1px solid transparent; min-height: 17.5em}
@media (max-width: 1024px) {.autogen_class_views_discover_modules_promo_banner {background: #F8F9FD; min-height: initial}
}
.autogen_class_views_discover_modules_promo_banner .promo_banner_container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between}
.autogen_class_views_discover_modules_promo_banner .section.left .image, .autogen_class_views_discover_modules_promo_banner .section.right .image {width: 322px; height: 216px; margin-top: 50px; background-repeat: no-repeat; background-position: center; background-size: cover}
@media (max-width: 1024px) {.autogen_class_views_discover_modules_promo_banner .section.left {display: none}
}
.autogen_class_views_discover_modules_promo_banner .section.right .image.right {margin-right: 16px}
@media (max-width: 700px) {.autogen_class_views_discover_modules_promo_banner .section.right .image.right {width: 139px; height: 168px; margin-top: 84px}
}
@media (max-width: 550px) {.autogen_class_views_discover_modules_promo_banner .section.right .image.right {width: 100px; height: 120px; margin-top: 132px}
}
.autogen_class_views_discover_modules_promo_banner .section.center {width: 348px; height: 12.75em; margin: 16px; margin-bottom: 60px}
@media (max-width: 1024px) {.autogen_class_views_discover_modules_promo_banner .section.center {text-align: left; margin-bottom: 32px}
}
@media (max-width: 400px) {.autogen_class_views_discover_modules_promo_banner .section.center {margin: 0; margin-left: 12px}
}
.autogen_class_views_discover_modules_promo_banner .section.center .header .title {margin: 0px; font-weight: bold; margin-bottom: 6px; font-size: 30px; padding-top: 20px}
@media (max-width: 1024px) {.autogen_class_views_discover_modules_promo_banner .section.center .header .title {padding-top: 36px}
}
@media (max-width: 700px) {.autogen_class_views_discover_modules_promo_banner .section.center .header .title {padding-top: 30px}
}
@media (max-width: 550px) {.autogen_class_views_discover_modules_promo_banner .section.center .header .title {font-size: 24px}
}
@media (max-width: 400px) {.autogen_class_views_discover_modules_promo_banner .section.center .header .title {font-size: 22px; padding-top: 50px}
}
@media (max-width: 360px) {.autogen_class_views_discover_modules_promo_banner .section.center .header .title {font-size: 22px; padding-top: 40px}
}
.autogen_class_views_discover_modules_promo_banner .section.center .header .subtitle {font-size: 18px; margin-bottom: 6px}
.autogen_class_views_discover_modules_promo_banner .section.center .cta_button_section {margin-top: 16px}
.autogen_class_views_discover_modules_promo_banner .section.center .cta_button_section .cta_button {color: white}
.autogen_class_views_discover_modules_promo_banner .section.center .cta_button_section .below_button_cta {margin-top: 4px}


/* app/views/discover/modules/personalize_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_personalize_banner .section.right .image {background-image: url('https://s2-f.scribdassets.com/images/shared/personalize_banner/personalize_right.svg?1508449800')}
@media (max-width: 700px) {.autogen_class_views_discover_modules_personalize_banner .section.right .image {background-image: url('https://s1-f.scribdassets.com/images/shared/personalize_banner/personalize_right_sm.svg?1508449800')}
}
.autogen_class_views_discover_modules_personalize_banner .section.left .image {background-image: url('https://s1-f.scribdassets.com/images/shared/personalize_banner/personalize_left.svg?1508449800')}


/* app/views/discover/modules/profile_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_profile_banner {padding: 50px 24px; color: white; background: #0D6069; margin-bottom: 32px}
.autogen_class_views_discover_modules_profile_banner .banner_container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; max-width: 975px}
.autogen_class_views_discover_modules_profile_banner .banner_container .headline {position: relative}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .banner_container {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center}
}
.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail, .autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail .user_profile_image {width: 75px; height: 75px; line-height: 74px}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail, .autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail .user_profile_image {height: 84px; width: 84px; line-height: 83px}
}
.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail {border: 2px solid white; color: white; background-color: #0D6069; border-radius: 100px}
.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail.square {border-radius: 0px}
.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail.icon-ic_user_circle {font-size: 74px; background-color: white}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail.icon-ic_user_circle {font-size: 84px}
}
.autogen_class_views_discover_modules_profile_banner .profile_image_container .profile_thumbnail.icon-ic_user_circle:before {color: #0D6069}
.autogen_class_views_discover_modules_profile_banner .contribution_type {display: inline; background: white; padding: 2px 5px; margin-bottom: 6px; font-size: 12px; font-weight: bold; color: #0D6069; letter-spacing: 0.05em; text-transform: uppercase}
.autogen_class_views_discover_modules_profile_banner .profile_name {margin-bottom: 10px; font-size: 32px; font-weight: bold}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .profile_name {margin-top: 18px}
}
.autogen_class_views_discover_modules_profile_banner .profile_info {margin: 0px 24px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .profile_info {width: auto; margin-top: -15px}
}
.autogen_class_views_discover_modules_profile_banner .stats.wide {position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; bottom: 0px; right: 0px}
.autogen_class_views_discover_modules_profile_banner .stats.wide .stat {margin: 0px 5px}
.autogen_class_views_discover_modules_profile_banner .stats.wide .stat .count {font-weight: bold}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .stats.wide {display: none}
}
.autogen_class_views_discover_modules_profile_banner .stats.narrow {display: none}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .stats.narrow {display: block}
}
.autogen_class_views_discover_modules_profile_banner .stat .quantifier {text-transform: uppercase}
.autogen_class_views_discover_modules_profile_banner .read_more, .autogen_class_views_discover_modules_profile_banner .read_less {color: white; border-bottom: 1px solid #E9EDF8; margin-left: 5px}
.autogen_class_views_discover_modules_profile_banner .user_controls {margin-top: 20px}
.autogen_class_views_discover_modules_profile_banner .description_wrapper .full.descriptor {display: none}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .description_wrapper {margin-top: 34px}
}
.autogen_class_views_discover_modules_profile_banner .description_wrapper.show_full .full.descriptor {display: block}
.autogen_class_views_discover_modules_profile_banner .description_wrapper.show_full .short.descriptor {display: none}
@media (max-width: 1025px) {.autogen_class_views_discover_modules_profile_banner .banner_container .headline, .autogen_class_views_discover_modules_profile_banner .banner_container .stat, .autogen_class_views_discover_modules_profile_banner .banner_container .description_wrapper.super_short {text-align: center}
.autogen_class_views_discover_modules_profile_banner .banner_container .stat .count {padding-right: 3px}
}


/* app/views/discover/modules/promo.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_promo {text-align: center; color: #fff; background-repeat: no-repeat; background-size: cover; background-position: center; margin-top: 30px}
.autogen_class_views_discover_modules_promo:not(.full_width_banner) .promo_wrapper {border: 1px solid transparent}
.autogen_class_views_discover_modules_promo h2 {color: inherit; font-family: 'Source Sans Pro', sans-serif}
.autogen_class_views_discover_modules_promo.module_row.full_width_banner {/* fall back for ie11 */ max-width: none; max-width: initial; margin: 0px; background: #001927}
.autogen_class_views_discover_modules_promo.is_app_download {border: 1px solid transparent}
.autogen_class_views_discover_modules_promo .annual_text {padding: 0 40px}
.autogen_class_views_discover_modules_promo .flat_btn {color: inherit}
.autogen_class_views_discover_modules_promo .close_btn {position: absolute; top: 26px; right: 20px; color: white}
.autogen_class_views_discover_modules_promo.is_annual_upsell {height: 90px; background: url('https://s1-f.scribdassets.com/images/annual_upsell/background_annual_plans_banner.jpg?1508449800'); color: white}
.autogen_class_views_discover_modules_promo.is_annual_upsell h2 {font-size: 28px; margin: 0 0 5px 0; color: white}
.autogen_class_views_discover_modules_promo.is_annual_upsell p {color: white}
.autogen_class_views_discover_modules_promo.is_annual_upsell .close_btn {color: white}
.autogen_class_views_discover_modules_promo.is_annual_upsell .annual_text {text-align: left; margin-right: 230px}
.autogen_class_views_discover_modules_promo.is_annual_upsell .upsell_btn {position: absolute; right: 100px; bottom: 40px}
.autogen_class_views_discover_modules_promo.is_referral .close_btn, .autogen_class_views_discover_modules_promo.is_personalize .close_btn {color: #001927}
.autogen_class_views_discover_modules_promo.is_bundles {background-color: #001927; padding: 0px}
.autogen_class_views_discover_modules_promo.is_bundles .bundles_container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; height: 100%}
.autogen_class_views_discover_modules_promo.is_bundles .close_btn {color: white}
.autogen_class_views_discover_modules_promo.is_bundles .bundles_image {height: 232px; width: 500px; background-repeat: no-repeat; background-size: contain; background-image: url('https://s1-f.scribdassets.com/images/account_settings/bundles/image_3_appicons_large.png?1508449800')}
@media (max-width: 1024px) {.autogen_class_views_discover_modules_promo.is_bundles .bundles_image {background-image: url('https://s2-f.scribdassets.com/images/account_settings/bundles/image_3_appicons_small.png?1508449800')}
}
@media (max-width: 700px) {.autogen_class_views_discover_modules_promo.is_bundles .bundles_image {display: none}
}
.autogen_class_views_discover_modules_promo.is_bundles .bundle_text {padding: 20px 30px; width: 348px; text-align: left}
.autogen_class_views_discover_modules_promo.is_bundles .bundle_text h2, .autogen_class_views_discover_modules_promo.is_bundles .bundle_text p {color: white; text-align: left}
.autogen_class_views_discover_modules_promo.is_bundles .bundle_text h2 {margin: 0px}
.autogen_class_views_discover_modules_promo.is_bundles .bundle_text p {margin: 0 auto 24px auto}
.autogen_class_views_discover_modules_promo.is_bundles .bundle_text .flat_btn {margin: 0px}
.autogen_class_views_discover_modules_promo.is_nyt_student.module_row {max-width: none}


/* app/views/discover/modules/promo_sectionized.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_promo_sectionized {background: #001927; position: relative}


/* app/views/discover/modules/publication_interest_list.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_publication_interest_list {width: 1024px; max-width: 1024px; margin: 0 auto 40px auto; /*Tabbed Browse List*/ }
.autogen_class_views_discover_modules_publication_interest_list .content_header {text-align: center}
.autogen_class_views_discover_modules_publication_interest_list .browse_lists {display: -webkit-box;display: -ms-flexbox;display: flex}
.autogen_class_views_discover_modules_publication_interest_list .browse_list {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-left: 0}
.autogen_class_views_discover_modules_publication_interest_list .browse_list.left {margin-right: 20px; margin-left: 80px}
.autogen_class_views_discover_modules_publication_interest_list .browse_list.right {margin-right: 80px}
.autogen_class_views_discover_modules_publication_interest_list li {list-style: none}
.autogen_class_views_discover_modules_publication_interest_list .browse_list_item {transition: background 0.2s, font-weight 0.2s; -moz-transition: background 0.2s, font-weight 0.2s; -webkit-transition: background 0.2s, font-weight 0.2s; color: #1C263D; display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 60px; border-bottom: 1px solid #E9EDF8; padding: 0 15px; font-size: 18px}
.autogen_class_views_discover_modules_publication_interest_list .browse_list_item .carrot {font-size: 14px; color: #E9EDF8}
.autogen_class_views_discover_modules_publication_interest_list .browse_list_item:hover {color: #0D6069}
.autogen_class_views_discover_modules_publication_interest_list .browse_list_item:active {color: #0D6069}
.autogen_class_views_discover_modules_publication_interest_list .view_more_footer {font-weight: bold; text-align: center; color: #1E7B85}
.autogen_class_views_discover_modules_publication_interest_list .list_expand_btn {transition: opacity 0.2s; -moz-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; cursor: pointer; margin: 20px 0px}
.autogen_class_views_discover_modules_publication_interest_list .list_expand_btn:hover {opacity: 0.8}
.autogen_class_views_discover_modules_publication_interest_list .content_body {position: relative}
.autogen_class_views_discover_modules_publication_interest_list .expanding .content_body {height: 245px; overflow: hidden}
.autogen_class_views_discover_modules_publication_interest_list .simple .view_more_footer {display: none}
.autogen_class_views_discover_modules_publication_interest_list .tabbed_browse_list, .autogen_class_views_discover_modules_publication_interest_list .notab_browse_list {margin-top: 50px}
.autogen_class_views_discover_modules_publication_interest_list .tabbed_browse_list .tabs.control {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0px; margin-bottom: 0px; border-bottom: 1px solid #E9EDF8}
.autogen_class_views_discover_modules_publication_interest_list .tabbed_browse_list .tabs.control li:last-child button {margin-right: 0}
.autogen_class_views_discover_modules_publication_interest_list .tabbed_browse_list button {color: #57617A; cursor: pointer; border: none; background: white; outline: none; padding: 0px; height: 60px; margin-right: 65px; border-bottom: 3px solid white; font-family: inherit; -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out}
.autogen_class_views_discover_modules_publication_interest_list .tabbed_browse_list button:hover {color: #1C263D}
.autogen_class_views_discover_modules_publication_interest_list .tabbed_browse_list button.active {color: #1E7B85; border-bottom: 3px solid #1E7B85}
.autogen_class_views_discover_modules_publication_interest_list .tab_content {display: none}
.autogen_class_views_discover_modules_publication_interest_list .tab_content.active {display: block}
.autogen_class_views_discover_modules_publication_interest_list .module_title {font-size: 24px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
@media (max-width: 550px) {.responsive .autogen_class_views_discover_modules_publication_interest_list .module_title {font-size: 20px}
}
.autogen_class_views_discover_modules_publication_interest_list .module_subtitle {margin-bottom: 20px}


/* app/views/discover/modules/publication_list.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_publication_list.module_row {padding: 0; margin: 0; list-style: none; width: auto}
.autogen_class_views_discover_modules_publication_list .publication_row {margin-bottom: 20px}
.autogen_class_views_discover_modules_publication_list .publication_row > a {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: inherit; text-decoration: none}
.autogen_class_views_discover_modules_publication_list .publication_row > a:hover .publication_name {opacity: 0.8}
.autogen_class_views_discover_modules_publication_list .publication_row:last-child {margin-bottom: 0}
.autogen_class_views_discover_modules_publication_list .publication_image {width: 34px; height: 34px; display: block}
.autogen_class_views_discover_modules_publication_list .publication_name {margin-left: 10px; font-size: 18px}
.autogen_class_views_discover_modules_publication_list .new_flag {margin-left: 10px; padding: 0px 4px; border-radius: 12px; background: #F3F8FB; color: #135987; font-size: 13px; font-weight: bold}


/* app/views/discover/modules/referral_banner.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_referral_banner .section.right .image {background-image: url('https://s2-f.scribdassets.com/images/shared/referral_banner/referral_right.svg?1508449800')}
@media (max-width: 700px) {.autogen_class_views_discover_modules_referral_banner .section.right .image {background-image: url('https://s2-f.scribdassets.com/images/shared/referral_banner/referral_right_sm.svg?1508449800')}
}
.autogen_class_views_discover_modules_referral_banner .section.left .image {background-image: url('https://s1-f.scribdassets.com/images/shared/referral_banner/referral_left.svg?1508449800')}


/* app/views/discover/modules/search_article_list.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_search_article_list {border-left: 1px solid #E9EDF8; width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1}
.autogen_class_views_discover_modules_search_article_list .articles_list .article_row {margin-left: 22px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 25px 0px}
.autogen_class_views_discover_modules_search_article_list .articles_list .article_row:not(:last-child) {border-bottom: 1px solid #E9EDF8}
.autogen_class_views_discover_modules_search_article_list .articles_list .article {-webkit-box-align: center;-ms-flex-align: center;align-items: center}
.autogen_class_views_discover_modules_search_article_list .articles_list .article_image, .autogen_class_views_discover_modules_search_article_list .articles_list .metadata {display: none}
.autogen_class_views_discover_modules_search_article_list .articles_list .info {max-height: 97px; overflow: hidden}
.autogen_class_views_discover_modules_search_article_list .articles_list .info .metadata {display: none}
.autogen_class_views_discover_modules_search_article_list .articles_list .thumbnail_cap {margin-left: 0; border-radius: 4px; border: 1px solid #F8F9FD; overflow: hidden}
.autogen_class_views_discover_modules_search_article_list .articles_list .view_article {display: none}
.autogen_class_views_discover_modules_search_article_list .articles_list .article_image {display: none}
.autogen_class_views_discover_modules_search_article_list .articles_list .article_info {margin-bottom: 4px}
.autogen_class_views_discover_modules_search_article_list .articles_list .article_row:not(:last-child) {border-bottom-color: transparent}


/* app/views/discover/modules/section_empty_state.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_section_empty_state .empty_state_wrapper {padding: 0 32px 16px}
.autogen_class_views_discover_modules_section_empty_state .empty_state_wrapper .content_wrapper {padding: 16px; background: #FAFBFD; border: 1px solid #E9EDF8}
.autogen_class_views_discover_modules_section_empty_state .empty_state_wrapper .content_wrapper .title {font-size: 18px; font-weight: bold; color: #1C263D; padding-bottom: 16px}
.autogen_class_views_discover_modules_section_empty_state .empty_state_wrapper .content_wrapper .message {font-size: 16px; color: #1C263D; padding: 0}
.autogen_class_views_discover_modules_section_empty_state .empty_state_wrapper .content_wrapper .message li {list-style: none}


/* app/views/discover/modules/selects.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_selects {margin-bottom: 40px !important}
.autogen_class_views_discover_modules_selects.scribd_select .carousel_outer {padding-bottom: 60px}
.autogen_class_views_discover_modules_selects.scribd_select .view_more {text-align: center; padding-bottom: 40px}
.autogen_class_views_discover_modules_selects.scribd_select .carousel_scrollbar {bottom: 100px}
.autogen_class_views_discover_modules_selects.scribd_select .carousel_subtitle {color: gray600; font-size: 16px}


/* app/views/discover/modules/trusted_source_cells.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_trusted_source_cells {list-style: none; padding-left: 0}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell {display: inline-block; text-align: left; opacity: 1; transition: background-color 0.5s, opacity 0.2s; -moz-transition: background-color 0.5s, opacity 0.2s; -webkit-transition: background-color 0.5s, opacity 0.2s; height: 200px; box-sizing: border-box; display: block; width: 308px; position: relative}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_header_container {transition: background-color 0.5s, opacity 0.2s; -moz-transition: background-color 0.5s, opacity 0.2s; -webkit-transition: background-color 0.5s, opacity 0.2s}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link {border-radius: 4px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); border: 1px solid #E9EDF8; color: #1C263D; position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link .trusted_source_header_container {background-color: #fff; padding: 20px}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link .trusted_source_header {height: 50px; font-size: 20px; font-weight: bold; margin: 0; position: relative; padding-right: 20px; color: #000514}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link .trusted_source_header_prefix {font-size: 16px; color: #57617A}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link .trusted_source_body {font-size: inherit; height: 82px}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link .trusted_source_body ul {padding-left: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell .trusted_source_link .trusted_source_body ul li {list-style: none; display: inline-block; line-height: normal}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell:hover {background-color: #F8F9FD}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell:hover .trusted_source_header_container {background-color: #F8F9FD}
.autogen_class_views_discover_modules_trusted_source_cells .trusted_source_cell:active {opacity: 0.45}


/* app/views/discover/modules/trusted_sources_carousel.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_trusted_sources_carousel .carousel.carousel {/*hack to override specificity with min impact- better than !important*/ height: 205px}
.autogen_class_views_discover_modules_trusted_sources_carousel .paddle {top: 75px}


/* app/views/discover/modules/view_all.css @ 1508449729 */
/* epub and audiobook banners*/ .autogen_class_views_discover_modules_view_all {padding: 30px 0 40px 0; border-top: 1px solid #E9EDF8; text-align: center}
