/* this first section sets the background color....thats the color surround OUTSIDE
your main table. The same with the fonts, this applies only to any text you place outside the
main content table. Which will probably be nothing. The max-width is for Firefox, to let it know how wide you
want your page to be. This will be the maximum width of your main content table.

If you set it to perhaps 1050px, and view it on a 1024x768 monitor, it will appear full width. But to someone 
viewing on a 1200x1024 monitor, it will appear as 1050 wide, with your choice of a colored background either
 side, taking up the extra 150px. (75px each side)*/

body {
max-width: 1050px;
background-color:#909090; 
font-family: Arial, Verdana, sans-serif;
font-size: 93%;
color: #000;
margin:auto;
padding:0;
text-align:center;
}





/* you have 3 more classes of horizontal rule, as well as the default version Change the attributes to 
get the look you want. The 3 classes are solid, dotted, and dashed. Add class="dashed" to your hr
tag on an HTML page, to get the dashed version of the hr. Change the colors to suit. */

.solid {	
   border-top: 1px solid #000066;
   border-bottom: hidden;
   border-left: hidden; 
   border-right: hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	
}

.dashed {
  border-bottom:1px dashed #000066;
   border-top:hidden;
   border-left:hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	
}

.dotted {
	border-bottom:1px dotted #000066;
   border-top:hidden;
   border-left:hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* this is a custom class for your bold tag. You can alter anything here, or remove
it completely to get the default bold  330066*/
b{

color: #000066;
font-family: Arial;
font-size: 120%;
font-style: italic;
}

b2{ /* 504A4B */

color: #1589FF;
font-weight: bold;
font-family: Arial;
font-size: 120%;
font-style: italic;
}

/* this is a custom class for using graphics as bullets.  Upload a custom graphic to your 
graphics library in the usual way. Then replace my URL
with your own. Note there are no speech marks around the URL*/
 
ul {
list-style-type: none;
padding-left: 0;
margin-left: 10px;
}
 
li.custom {
background: url(http://www.scmwise.com/image-files/bullet2.gif) left center no-repeat; 

padding-left: 20px;
margin-bottom: 10px;

 }
 
/* this area below is for your  Link-text and headings. You can change the font type and size, the color of each of them
as well as the a:hover, which is the text for a link, once the pointer passes over it*/

a { font-family: Arial, Verdana, sans-serif; 
font-size: 100%; color: #153E7E; text-decoration: underline; 
font-weight: bold;
}

a:hover { font-family: Arial, Verdana, sans-serif;
 font-size: 100%; 
 background-color: #153E7E; /* #504A4B */
 color: #fff;
 }


h1 { font-family: Arial, Verdana, sans-serif; font-size: 150%;  color: #000000}
h2 { font-family: Arial, Verdana, sans-serif; font-size: 116%;  color: #000}
h3 { font-family: Arial, Verdana, sans-serif; font-size: 100%;  color: #000}



/* 
Notice the width:expression part? That's for internet explorer, which doesnt understand max-width commands.
So this works WITH the max-width at the top of this page. If you change that to say 1050px, change both occurences here
to 1050px as well. Otherwise Those using IE wont get the width constraint....their page would expand indefinitely!
Firefox will ignore this part, and IE will ignore the max-width part....you need both of them.

BUT DONT TOUCH THIS PART BELOW UNLESS YOU HAVE READ THE PDF THAT EXPLAINS HOW, AND YOU ARE SURE YOU UNDERSTAND IT!!*/

.main-table {
width:expression(document.body.clientWidth > 1052? "1050px": "auto" );
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
}


/*as we are using a table based layout, all your text is within a table. So this is the area to change the
size, color and font family .*/
table {
font-family: Arial, Verdana, sans-serif;
font-size: 85%;
color: #000;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
}

/* if you change the fonts and sizes, etc above, make this the same, but leave the weight as bold
Its just here to give you the option of a bold type font, without the extra size.*/

.note {
font-family: Arial, Verdana, sans-serif;
background-color:#fff; 
font-size: 77%;
color: #666666;
font-weight: bold;
font-style: italic;
} 


/* Below, is the background colors for your table cells. originally, they were on the actual page, so why
move them to the stylesheet? Well, if you decide to do a site-wide color scheme change, you now change here, 
rather than on every page. A big improvement. Also, the less styling on the page, the better.

Suppose you prefer to have a tiled image rather than a solid color?
Replace the background-color:#fff;  with this, and upload your image to the graphics library....
background-image: 
url('http://www.your-site.com/images/your-image.gif');
background-repeat: repeat;
*/


td.headerbg {
background-color:#cococo;
font-size: 100%;
}

td.spacerbg {
background-color:#fff; 
}

td.contentbg {
background-color:#fff; 
}

td.rightbg {
font-family: Arial, Verdana, sans-serif;
font-size: 93%;
color: #000;
background-color:#fff; 
}

td.leftbg {
font-size: 86%;
margin-left: 10px;
background-color:#fff; 
}

td.footerbg {
font-size: 86%;
background-color:#fff; 
}

/* This is for the heading background color....your H1, H2, and H3 tags*/
/*
.hbg{
background-color:#000099;
color:#ffcc00;
width: auto;
padding-top: 7px;
padding-right: 7px;
padding-bottom: 7px;
padding-left: 14px;
z-axis: 1;
border-top: 2px #ffff99 solid;		/* #98AFC7 */
border-left: 2px #ffff99 solid;		/* #98AFC7 */
border-bottom: 2px #000033 solid; 	/* #302226 */	
border-right: 2px #000033 solid;
}
*/

.hbg2{
background-color:#000099;
color:#ffcc00;
width: 70%;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
z-axis: 1;
border-top: 2px #ffff99 solid;		/* #98AFC7 */
border-left: 2px #ffff99 solid;		/* #98AFC7 */
border-bottom: 2px #000033 solid; 	/* #302226 */	
border-right: 2px #000033 solid;
}

.hbg{
background-color:#333333;
color:#ffffff;
width: 80%;
border: 2px solid;
border-radius: 10px;
-moz-border-redius:10px; /* Firefox 3.6 and earlier */
}


/* information below is to remove the link styling for anchor links.
Just leave this as it is....it works fine, and shouldn't be modified */
a.jumplink{
text-decoration: none;
font-size: 100%; 
background-color: transparent;
color: #000;
}

a:hover.jumplink  {
text-decoration: none;
font-size: 100%; 
background-color: transparent;
color: #000;
} 

/* -- Horizontal Text NavBar -- */

.ExtraNav {
font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, sans-serif;
}

.ExtraNav ul {
list-style-type: none;
padding: 0;
}

.ExtraNav ul li {
display: inline;
text-align: center;
}

.ExtraNav a:link {
color: #ffffff;
background-color: #092A17;
text-decoration: underline;
text-align: center;
padding: 0 4px;
}

.ExtraNav a:visited {
color: #8A43DA;
background-color: #092A17;
text-decoration: underline;
}

.ExtraNav a:hover {
color: red;
background-color: #d3e4fb;
text-decoration: underline;
}

#Header .ExtraNav {
font-size: 85%;
position: absolute;
top: 5px;
left: 10px;
}

#Header .ExtraNav ul { 
margin: 0;
}

#Footer .ExtraNav {
margin: 12px auto;
}
/*this stylesheet is for you navigation panel*/

#navigator {

}

.housebutton {
}

.housebutton a {
font-size: 80%;
}

.housebutton a:hover {
font-size: 82%;
}


/* this part below is for the color on the background, surrounding the buttons. Change the color, and the 
border, if you like. For the border, you can use solid, dashed, or dotted, for different border styles*/

#navigator {

/* background-color: #cccccc; */

/* border: 1px #000066 solid; */

width: 110px;

margin-top: auto;

margin-left: auto;

margin-right: auto;

padding: 5px;

text-align: center;


}

/* want more space between your buttons? just increase the margins
from 1px. Font weight can be bold if you prefer.*/

.housebutton {

font-weight: bold;
text-align: center;
margin-bottom: 1px;
margin-top: 1px;
}


/* this part is for the colors of your buttons "at rest" so to speak. Notice the
top/left, and the bottom/right are colored in pairs? If you change the colors, you will need to do the same, to
maintain the illusion of 3D buttons. Make one set of sides a slightly darker shade than the other pair.
This will give the button a 3D look*/

.housebutton a {

padding: 3px;

text-decoration: none;

display: block;

color: #ffff99; /*this is where you change the button font color*/

background-color: #657383;

border-top: 4px #98AFC7 solid;

border-left: 4px #98AFC7 solid;

border-bottom: 4px #302226 solid;

border-right: 4px #302226 solid;

}

/*this part is how the buttons look, once the pointer passes over them. Same thing as above, but this time
the top/left colors should SWAP with the bottom/right, to give the correct effect.
Also the background color should go a shade darker, to make it seem as if it were now below the 
level of the page, and is not getting any light on it*/

.housebutton a:hover {

color: #ffff00; /*-----this is where you change the button font color, when the button is hovered over*/

background-color: #98AFC7;

border-top: 4px #302226 solid;

border-left: 4px #302226 solid;

border-bottom: 4px #5F5A59 solid;

border-right: 4px #5F5A59 solid;

}



/*This style sheet controls how the textboxes will look
The only thing that you might want to change will be the color
of the borders. They are set at #000066 at the moment.
The background color is set to ffffff (white), however if you
decide to change it you can. Just remember, if you do, it will affect EVERY
textbox on your site. To change only one, copy and paste the class here in the style sheet,
and alter the color. Change the name also... so the new class may be called
full-width-box-blue for eg. Then the new color can be called with your new class name.
*/

div.content-box {
   background-color: transparent;
	margin: 0px 0px 0px 0px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	Border-right: 1px solid #000066; 
	border-left: 1px solid #000066;
}

/*** right column Full width box.
Change the colors to suit. The standard box has a white background, and the
box2 has a colored background ***/

div.full-width-box {
   background-color: #ffffff;
	margin: 15px 0px 10px 0px;
	padding: 15px;
   border: 1px solid #000066;	
}
div.full-width-box2 {
   background-color: #cccccc;
	margin: 15px 0px 10px 0px;
	padding: 7px;
   /* border: 2px solid #000066; */
   	border-top: 7px #98AFC7 solid;		/* #98AFC7 */
   	border-left: 7px #98AFC7 solid;		/* #98AFC7 */
   	border-bottom: 7px #302226 solid; 	/* #302226 */	
	border-right: 7px #302226 solid; 	/* #302226 */	
}
div.header-box-round {
   background-color: #ffffff;
	margin: 15px 0px 10px 0px;
	padding: 7px;
        border: 4px solid #000066;
   	border-radius: 15x;
   	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}
div.full-width-box-round {
   background-color: #999999;
	margin: 15px 0px 10px 0px;
	padding: 7px;
        border: 4px solid #000066;
   	border-radius: 15x;
   	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}
div.display-box-clear {
   background-color: #ffffff;
	margin: 15px 0px 10px 0px;
	padding: 15px;
	float: left;
	width: 50%;	
}
div.display-box-gray {
   background-color: #cccccc;
	margin: 15px 0px 10px 0px;
	padding: 15px;
	width: 200px;
	float: left;
   border: 1px solid #000066;	
}

/* Div Boxes with Headerss
/* Show only to IE PC \*/
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */

div.sidebox-small {
	margin: 10px 10px 10px 10px;
	width: 30%; /* ems so it will grow */
	font-size: 100%;
	/* border: 3px solid #000066; */
	border-top: 7px #98AFC7 solid;	
	border-left: 7px #98AFC7 solid;	
	border-bottom: 7px #302226 solid;	
	border-right: 7px #302226 solid;
	float: left;
}
div.sidebox-full {
	margin: 10px 10px 10px 10px;
	font-size: 100%;
	border-top: 4px #98AFC7 solid;	
	border-left: 4px #98AFC7 solid;	
	border-bottom: 4px #302226 solid;	
	border-right: 4px #302226 solid;
	float: left;
}
div.sidebox-set {
	margin: 5px 5px 5px 5px;
	width: 175px;
	height: 250px;
	font-size: 100%;
	border-top: 4px #98AFC7 solid;	
	border-left: 4px #98AFC7 solid;	
	border-bottom: 4px #302226 solid;	
	border-right: 4px #302226 solid;
	float: left;
}
div.boxhead {
	background-color: #cccccc;
	width: 100%;
	margin: 0;
	padding: 3px 0px 3px 0px;
	text-align: center;
}
div.boxheadclear {
	background-color: #ffffff;
	width: 100%;
	margin: 0;
	padding: 3px 0px 3px 0px;
	text-align: center;
}
div.boxhead h2 {
	background-color: #cccccc;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #000066; 
	font-weight: bold; 
	font-size: 1em; 
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
div.boxbody {
	background-color #ffffff;
	width: 90%;
	margin: 0;
	padding: 5px 5px 5px 7px;
}
/*** right column Half of width box center ***/
div.half-width-box-center {
   background-color: #cccccc;
	margin: 7px 7px 7px 7px;
	padding: 10px;
	width: 50%;
	float: center;
	border-top: 7px #98AFC7 solid;	
	border-left: 7px #98AFC7 solid;	
	border-bottom: 7px #302226 solid;	
	border-right: 7px #302226 solid;	
}	
/*** right column Half of width box left ***/
div.half-width-box-left {
   background-color: #ffffff;
	margin: 7px 7px 7px 7px;
	border-top: 7px #98AFC7 solid;	
	border-left: 7px #98AFC7 solid;	
	border-bottom: 7px #302226 solid;	
	border-right: 7px #302226 solid;
	padding: 5px;
	width: 50%;
	float: left;	
}
/*** right column Half of width box right ***/
div.half-width-box-right {
   background-color: #ffffff;
	margin: 7px 7px 7px 7px;
	border-top: 7px #98AFC7 solid;	
	border-left: 7px #98AFC7 solid;	
	border-bottom: 7px #302226 solid;	
	border-right: 7px #302226 solid;
	padding: 10px;
	width: 35%;
	float: right;	
}
/* the border of the image inside your half width textbox can be changed.
Its set to #5F8B8C at the moment. You can also change the solid
to either dashed or dotted if you want to*/

/*** Picture inside the text ***/
.img-float-left {
	float: left;
	padding: 2px;
	margin-right: 5px;
	border: 2px solid #000066;
}
.img-float-right {
	float: right;
	padding: 2px;
	margin-left: 5px;
	border: 2px solid #000066;
}
/*** Clearing of a float ***/
div.clear {
	clear: both;
	width: 100%;
	height: 1px;
}


.ddmx {
    font: 7px arial;
}
.ddmx .item1,
.ddmx .item1:hover,
.ddmx .item1-active,
.ddmx .item1-active:hover {
    padding: 2px 7px 3px 7px;
    background: #657383;
    font: 8px arial;
    color: #ffff99;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    position: relative;
    border-top: 4px #98AFC7 solid;    
    border-left: 4px #98AFC7 solid;    
    border-bottom: 4px #302226 solid;
    border-right: 4px #302226 solid;
}
.ddmx .item2,
.ddmx .item2:hover,
.ddmx .item2-active,
.ddmx .item2-active:hover {
    padding: 2px 7px 2px 7px;
    font: 8px arial;
    color: #ffff99;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 500;
    border-top: 4px #98AFC7 solid;
    border-left: 4px #98AFC7 solid;
    border-bottom: 4px #302226 solid;
    border-right: 4px #302226 solid;
}
.ddmx .item2 {
    background: #657383;
}
.ddmx .item2:hover,
.ddmx .item2-active,
.ddmx .item2-active:hover {
    background: #98AFC7;
    border-top: 4px #302226 solid;
    border-left: 4px #302226 solid;
    border-bottom: 4px #6D7B8D solid;
    border-right: 4px #6D7B8D solid;
}
.ddmx .arrow,
.ddmx .arrow:hover {
    padding: 2px 7px 2px 7px;
}
.ddmx .item2 img,
.ddmx .item2-active img{
    position: absolute;
    top: 4px;
    right: 1px;
    border: 0;
}
.ddmx .section {
    border: 1px solid #000033;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

* html .ddmx td { position: relative; } /* ie 5.0 fix */
/* AddToBookmarks Style Sheet */
.addToContent {
 	text-align: center;
 	padding:3px; 
}
.addTo {
	background-color: #f8f8f8;
	border:1px  #bbbbbb solid; 
	padding:1px; 
	width: 460px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px;
	margin: auto; 
	text-align:center;
}
.addTo img {
	vertical-align: middle;
	padding: 1px 2px 1px 6px;
	cursor:pointer;
}
.addTo {
  	background-color: #fbfbfb;
  	color: #000000;
	margin: 0px;
	padding: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
}
.addtos {
	padding: 1px;
	margin: 0px;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
}
.addToAbout{
	display: inline;
	list-style: none; 
	padding:1px; 
	margin:0px;
	font-weight: bold;
	cursor:help;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
}
/*  the next 2 styles are only for verticallayouts */
.addToV {
	background-color: #f8f8f8;
	border: 1px  #bbbbbb solid;
	padding: 1px;
	width: 90px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin: auto;
	text-align: left;
}

.addToV img {
	vertical-align: middle;
	padding: 1px 2px 1px 3px;
	cursor:pointer;
}

.addToAboutV{
	list-style: none; 
	padding:1px;
	font-weight: bold;
	cursor:help;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
}

A IMG {border:0.1px none #000000;} 